/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


body {
  /* background: blue; */
  height: 605px;
}

body main {
  float: left;
  /* background: red; */
  width: 100%;
}

body main > section {
  float: left;
  /* background: blue; */
  /* background-image: linear-gradient(to bottom right, white, #d1fcff); */
  width: 100%;
  height: 200px;
}

body main > section.editor > section {
  /* background: red; */
  /* border: 2px solid lightgrey; */
  float: left;
  width: 50%;
  margin: 20px 25%;
  font-family: sans-serif;
  box-shadow: 1px 1px 5px 2px lightgrey;
}

body main > section.editor section h1 {
  margin: 15px auto;
  text-align: center;
  font-size: 35px;
  color: black;
  padding: 0 0 10px 0;
  border-bottom: 3px double lightgrey;
  /* text-decoration: underline;
  text-decoration-color: grey;
  text-decoration-style: double; */
}
/* #5f5169 */
body main > section.editor section div {
  background: black;
  opacity: .7;
  float: left;
  width: 30%;
  margin: 10px 35%;
  padding: 12px 0;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 2px grey;
}

body main > section.editor section div a {
  color: white;
  float: left;
  font-size: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

body main > section.editor section div:hover {
  box-shadow: 1px 1px 10px 2px grey;
  opacity: 1;
}

body main > section.editor section div a:active {
  color: grey;
}

body main > section.posts {
  background: white;
  float: left;
  box-shadow: 0px;
  width: 100%;
}

body main > section.posts > h1 {
  float: left;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  /* text-decoration: underline;
  text-decoration-style: solid; */
  padding: 10px 0;
  margin: 10px auto;
}

body main > section.posts > section {
  /* background-image: image(); */
  /* background: red; */
  float: left;
  width: 90%;
  margin: 0 5%;
  padding: 0 5%;
}



body main > section.posts > section div {
  float: left;
  width: 31%;
  background: lightgrey;
  opacity: .8;
  padding: 0;
  margin: 0 1%;
  box-shadow: 1px 1px 10px 1px lightgrey;
}

body main > section.posts > section div > h1 {
  opacity: 1;
  float: left;
  width: 100%;
  color: black;
  padding: 5px;
  font-size: 28px;
}

body main > section.posts > section div > img {

}

body main > section.posts > section div > p {
  opacity: 1;
  float: left;
  color: black;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

body main > section.posts > section div > span {
  color: grey;
  float: right;
  width: 40%;
  font-size: 10px;
  text-align: right;
  padding: 0 5px 0 0;
}

body main > section.posts > section div > span + span{
  color: white;
  float: left;
  width: 60%;
  font-size: 12px;
  text-align: left;
  background: black;
  padding: 0 0 0 5px;
}

body main > section.posts > section div:hover {
  opacity: 1;
  box-shadow: 2px 2px 10px 3px lightgrey;
}
